*~
*.o
*.exe
*.vpj
build
build-32
TAGS
build
cscope.out
dist
dist-debug
dist-release
obj
.DS_Store
.clean-*
.config.mk
.deps
.exists
.gdbinit
windows/uxen.sys/objchk_win7_amd64
windows/uxen.sys/objrel_win7_amd64
windows/uxen.sys/buildchk_win7_amd64.log
windows/uxen.sys/buildrel_win7_amd64.log
windows/uxen.sys/buildchk_win7_amd64.wrn
windows/uxen.sys/buildrel_win7_amd64.wrn
windows/uxen.sys/buildchk_win7_amd64.err
windows/uxen.sys/buildrel_win7_amd64.err
tools/cross-w64l/binutils
tools/cross-w64l/gcc
tools/cross-w64l/install
tools/cross-w64l/mingw64
tools/cross-mingw/binutils
tools/cross-mingw/directx-devel
tools/cross-mingw/e2fsprogs
tools/cross-mingw/gcc
tools/cross-mingw/gdb
tools/cross-mingw/install
tools/cross-mingw/libiconv
tools/cross-mingw/mingw64
tools/cross-mingw/sdl
tools/cross-mingw/sdl32
tools/cross-mingw/yajl
tools/cross-mingw/zlib
tools/cross-mingw/zlib32
tools/cross-vm/install
tools/cross-vm/binutils
tools/cross-vm/gcc
tools/host-windows/install
tools/host-windows/iasl
tools/host-windows/regex
tools/install
windows/uxenvm/include
