*.o
*.dSYM
include/asm
tools/figlet/figlet
tools/figlet/figlet.exe
tools/symbols
tools/symbols.exe
uxen.elf
.banner
.deps
TAGS
tags
arch/x86/asm-offsets.s
include/asm-x86/asm-offsets.h
include/xen/compile.h
uxen.obj
uxen-pe.lds
uxen-syms.0.S
uxen-syms.1.S
uxen.0.obj
uxen.1.obj
uxen.check.obj
uxen-gdb
cscope.out
