#include "../common/uxencommon.rc"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "uXen Shared Folders Driver"
#define VER_INTERNALNAME_STR        "uxensf.sys"
#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR
#define VER_PRODUCTNAME_STR        "uXen Shared Folders"

#include "common.ver"
