/*
 * Copyright 2014-2017, Bromium, Inc.
 * SPDX-License-Identifier: ISC
 */

#include <uxen-resources.h>

1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", COMPANY_NAME
      VALUE "FileDescription", UXENDM_FILE_DESCRIPTION
      VALUE "LegalCopyright", COPYRIGHT
      VALUE "ProductName", PRODUCT_NAME
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END

UXENH264_RES_ID RCDATA UXENH264_DLL_PATH

