/*
 * Copyright 2015, Bromium, Inc.
 * SPDX-License-Identifier: ISC
 */

#include "../../vm-support/windows/common/uxencommon.rc"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "uXen V4V Shared Guest/Host Driver"
#define VER_INTERNALNAME_STR        "uxenv4vlib.sys"
#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR
#define VER_PRODUCTNAME_STR         "uXen V4V Shared Guest/Host"

#include "common.ver"
