/*
 * Copyright 2014-2015, Bromium, Inc.
 * SPDX-License-Identifier: ISC
 */

#include "../common/uxencommon.rc"

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "uXen HID Driver"
#define VER_INTERNALNAME_STR        "uxenhid.sys"
#define VER_ORIGINALFILENAME_STR    VER_INTERNALNAME_STR
#define VER_PRODUCTNAME_STR         "uXen HID"

#include "common.ver"
