1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Bromium"
      VALUE "FileDescription", "Bromium Image Tool"
      VALUE "LegalCopyright", "Copyright (c) 2011-2014 Bromium"
      VALUE "ProductName", "Bromium vSentry"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
